<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ufrpe.bsi.mpoo.wallotapp">

    <application
        android:name=".infra.app.WallotApp"
        android:allowBackup="true"
        android:icon="@drawable/icone_app_wallot"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icone_app_wallot"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".transacao.gui.TransacaoActivity"
            android:parentActivityName=".infra.gui.MainActivity"></activity>
        <activity android:name=".subcategoria.gui.SubCategoriasActivity"
            android:parentActivityName=".categoria.gui.CategoriasActivity"/>
        <activity android:name=".categoria.gui.CategoriasActivity"
            android:parentActivityName=".infra.gui.ConfiguracaoActivity"/>
        <activity android:name=".conta.gui.ContasActivity"
            android:parentActivityName=".infra.gui.ConfiguracaoActivity"/>
        <activity android:name=".conta.gui.CrudContaActivity"
            android:parentActivityName=".conta.gui.ContasActivity"/>
        <activity android:name=".usuario.gui.EditarUsuarioActivity"
            android:parentActivityName=".infra.gui.ConfiguracaoActivity"/>
        <activity
            android:name=".infra.gui.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".infra.gui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".infra.gui.ConfiguracaoActivity"
            android:parentActivityName=".infra.gui.MainActivity"/>
        <activity
            android:name=".infra.gui.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>